<div class="modal" tabindex="-1" role="dialog" id="modal_datenschutz">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-eye mr-1"></i>Datenschutzerklärung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body pb-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-secondary p-2"><span><i class="fas fa-info-circle mr-1"></i><b>Kurze Zusammenfassung</b> - Ausführliche Version weiter unten</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-2">
                                <div class="card-header p-2">
                                    <span>Verantwortliche Stelle</span>
                                </div>
                                <div class="card-body">
                                    <p><b>{{ config.imprint.name }}</b><br>{{ config.imprint.address }}<br>{{ config.imprint.plz }} {{ config.imprint.city }}</p>
                                    <a href="mailto:{{ config.imprint.mail }}">{{ config.imprint.mail }}</a><br>
                                    <a href="https://{{ config.imprint.web }}">{{ config.imprint.web }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card bg-primary text-white mb-3">
                                <div class="card-header p-2">
                                    <span>Verarbeitete personenbezogene Daten</span>
                                </div>
                                <div class="card-body p-2">
                                    <span>Immer</span>
                                    <br>
                                    <small>Folgende personenbezogene Daten erheben und verarbeiten wir bei jedem Seitenaufruf:</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2"><b>Datum und Uhrzeit der Anfrage</b> - im Serverprotokoll zur Fehleranalyse. Werden nach 30 Tagen gelöscht.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>IP-Adresse/Hostname</b> - im Serverprotokoll zur Strafverfolgung bei Missbrauch und zur Fehleranalyse. Werden nach 30 Tagen gelöscht.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Cookie-ID</b> - in deinem Browser zur Wiedererkennung beim Nutzung der Seite. Werden beim Schließen des Browsers gelöscht.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>URL</b> - im Serverprotokoll zur Fehleranalyse. Werden nach 30 Tagen gelöscht.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Referrer-URL</b> - im Serverprotokoll zur Fehleranalyse. Werden nach 30 Tagen gelöscht.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Betriebssystem, Browsertyp und -version</b> - im Serverprotokoll zur Fehleranalyse und aus Kompatibilitätsgründen. Werden nach 30 Tagen gelöscht.</li>
                                </ul>
                                <div class="card-body p-2">
                                    <span>Account</span>
                                    <br>
                                    <small>Folgende personenbezogene Daten erheben und verarbeiten wir, wenn du dir einen Account anlegst:</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2"><b>E-Mail Adresse</b> - in einer Datenbank zur Kontaktaufnahme und als Identifikationsmerkmal. Wird gelöscht, wenn du deinen Account löschst.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Vorname</b> - in einer Datenbank zur Kontaktaufnahme. Wird gelöscht, wenn du deinen Account löschst.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Nachname</b> - in einer Datenbank zur Kontaktaufnahme. Wird gelöscht, wenn du deinen Account löschst.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Telefon</b> - in einer Datenbank zur Kontaktaufnahme. Wird gelöscht, wenn du deinen Account löschst.<br><div class="badge badge-warning">Kann bei Hilfsangebot öffentlich eingesehen werden!</div></li>
                                </ul>
                                <div class="card-body p-2">
                                    <span>Hilfe anbieten</span>
                                    <br>
                                    <small>Folgende personenbezogene Daten erheben und verarbeiten wir, wenn du eine Hilfe anbietest:</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2"><b>Postleitzahl(en) des Angebots</b> - in einer Datenbank zur Darstellung der Hilfen. Wird gelöscht, wenn du deinen Account oder das Hilfsangebot löschst.</li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Verweis zwischen Hilfsangebot und deinem Account</b> - in einer Datenbank zur Kontaktaufnahme über E-Mail und Telefon. Wird gelöscht, wenn du deinen Account oder das Hilfsangebot löschst.</li>
                                </ul>
                                <div class="card-body p-2">
                                    <span>Hilfe per E-Mail kontaktieren</span>
                                    <br>
                                    <small>Folgende personenbezogene Daten erheben und verarbeiten wir, wenn du eine helfende Person per E-Mail kontaktierst:</small>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light p-2"><b>Name</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                    <li class="list-group-item list-group-item-light p-2"><b>E-Mail Adresse</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Postleitzahl</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Straße</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Hausnummer</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                    <li class="list-group-item list-group-item-light p-2"><b>Nachricht</b> - als E-Mail an helfende Person. Wir speichern keine Daten hierzu.<br><div class="badge badge-warning">Daten werden an fremde Person (Helfer*in) übermittelt!</div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info p-2"><i class="fas fa-book-open mr-1"></i>Hinsichtlich Verarbeitungsgrundlage, Fristen, Datensicherheit, Widerruf, Beschwerderecht, Auskunft, Berichtigung, Sperrung und Löschung gelten die Vorgaben der DSGVO wie üblich. Wenn dir diese nicht bekannt sind, lese dir bitte die nun folgende ausführliche Version durch. Sollten danach immer noch Fragen offen sein, wende dich direkt per E-Mail an die verantwortliche Stelle.</span></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-body pb-0">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-secondary p-2"><span><i class="fas fa-info-circle mr-1"></i><b>Ausführliche Version</b></span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p><strong>Allgemeiner Hinweis und Pflichtinformationen</strong></p>
                            <p><strong>Benennung der verantwortlichen Stelle</strong></p>
                            <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
                            <span id="s3-t-ansprechpartner"><b>{{ config.dsgvo.name }}</b></span><br><span id="s3-t-strasse">{{ config.dsgvo.address }}</span><br><span id="s3-t-plz">{{ config.dsgvo.plz }}</span> <span id="s3-t-ort">{{ config.dsgvo.city }}</span></p><p></p>
                            <p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).</p>
                            
                            <p><strong>Widerruf Ihrer Einwilligung zur Datenverarbeitung</strong></p>
                            <p>Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
                            
                            <p><strong>Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</strong></p>
                            <p>Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes Baden-Württemberg. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
                            
                            <p><strong>Recht auf Datenübertragbarkeit</strong></p>
                            <p>Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
                            
                            <p><strong>Recht auf Auskunft, Berichtigung, Sperrung, Löschung</strong></p>
                            <p>Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.</p>
                            
                            <p><strong>SSL- bzw. TLS-Verschlüsselung</strong></p>
                            <p>Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.</p>
                            
                            <p><strong>Server-Log-Dateien</strong></p>
                            <p>In Server-Log-Dateien erhebt und speichert der Provider der Website automatisch Informationen, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
                            <ul>
                                <li>Besuchte Seite auf unserer Domain</li>
                                <li>Datum und Uhrzeit der Serveranfrage</li>
                                <li>Browsertyp und Browserversion</li>
                                <li>Verwendetes Betriebssystem</li>
                                <li>Referrer URL</li>
                                <li>Hostname des zugreifenden Rechners</li>
                                <li>IP-Adresse</li>
                            </ul>
                            <p>Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt. Grundlage der Datenverarbeitung bildet Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>
                                        
                            <p><strong>Kontaktformular</strong></p>
                            <p>Per Kontaktformular übermittelte Daten werden von uns nicht gespeichert. Sie werden an den Empfänger (Dritte Person, Anbieter des Hilfsangebotes) per E-Mail zugestellt.</p>
                            <p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.</p>
                                        
                            <p><strong>Cookies</strong></p>
                            <p>Unsere Website verwendet Cookies. Das sind kleine Textdateien, die Ihr Webbrowser auf Ihrem Endgerät speichert. Cookies helfen uns dabei, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen. </p>
                            <p>Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer Browser-Sitzung von selbst gelöscht. Hingegen bleiben andere Cookies auf Ihrem Endgerät bestehen, bis Sie diese selbst löschen. Solche Cookies helfen uns, Sie bei Rückkehr auf
                                unserer Website wiederzuerkennen.</p>
                            <p>Mit einem modernen Webbrowser können Sie das Setzen von Cookies überwachen, einschränken oder unterbinden. Viele Webbrowser lassen sich so konfigurieren, dass Cookies mit dem Schließen des Programms von selbst gelöscht werden. Die Deaktivierung von Cookies
                                kann eine eingeschränkte Funktionalität unserer Website zur Folge haben.</p>
                            <p>Das Setzen von Cookies, die zur Ausübung elektronischer Kommunikationsvorgänge oder der Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorb) notwendig sind, erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Als Betreiber dieser
                                Website haben wir ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und reibungslosen Bereitstellung unserer Dienste. Sofern die Setzung anderer Cookies (z.B. für Analyse-Funktionen) erfolgt, werden diese in dieser
                                Datenschutzerklärung separat behandelt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ include('modals/parts/modal.part.footer.twig') }}
            </div>
        </div>
    </div>
</div>