<div class="modal" tabindex="-1" role="dialog" id="modal_takehelp_mail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Helfer*in kontaktieren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card text-white bg-primary mb-4">
                    <div class="card-body p-2">
                        <span><b>Achtung!</b> Bitte beachte die <a href="https://www.infektionsschutz.de/hygienetipps/" target="_blank">Hygiene-Tipps</a>. Verhindere neuen Infektionswege! Wasche dir regelmäßig deine Hände und lasse fremde Menschen nicht zu dir nach Hause hinein. Kinderbetreuung sollte (wenn überhaupt nötig) einzeln und isoliert stattfinden.</span>
                    </div>
                    <div class="card-footer p-2">
                        <div class="corona-icon-header">
                            <span><i class="fas fa-hands-wash mr-2"></i>Hände waschen!</span>
                            <span><i class="fas fa-people-arrows mr-2"></i>Abstand halten!</span>
                        </div>
                    </div>
                </div>
                <form method="POST" action="/src/sendhelpmessage.php">
                    <input type="hidden" name="help_id" value="{{ data.help.id }}" />
                    <h5>Du kontaktierst:</h5>
                    <div class="card mb-2">
                        <div class="card-body p-1">
                            <small class="badge badge-success">Vor {{ data.help.timestamp }} hinzugefügt</small>
                            {% if data.help.montag == true %}<span class="badge badge-secondary">Mo</span>{% endif %} 
                            {% if data.help.dienstag == true %}<span class="badge badge-secondary">Di</span>{% endif %}
                            {% if data.help.mittwoch == true %}<span class="badge badge-secondary ">Mi</span>{% endif %} 
                            {% if data.help.donnerstag == true %}<span class="badge badge-secondary">Do</span>{% endif %} 
                            {% if data.help.freitag == true %}<span class="badge badge-secondary">Fr</span>{% endif %} 
                            {% if data.help.samstag == true %}<span class="badge badge-secondary">Sa</span>{% endif %} 
                            {% if data.help.sonntag == true %}<span class="badge badge-secondary">So</span>{% endif %} 
                            <br>
                            <span><b>{{ data.help.what|capitalize }}</b> in {{ data.help.plz }}</span>
                        </div>
                    </div>
                    <p><small>Es wird eine E-Mail mit den untenstehenden Daten an die*den Helfer*in übermittelt. Du erhältst dieselbe Mail als Bestätigung. Deine Daten werden nicht gespeichert, sondern lediglich per Mail versendet. Der*Die Helfer*in wird dir dann direkt antworten. Schau also in dein E-Mail-Postfach!</small></p>
                    <hr>
                    <h5>Infos zu dir:</h5>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Name:</span>
                        </div>
                        <input required="required" type="text" id="take_name" name="take_name" class="form-control" aria-label="Dein Name">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">E-Mail:</span>
                        </div>
                        <input required="required" type="email" id="take_email" name="take_email" class="form-control" aria-label="Deine E-Mail">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">PLZ:</span>
                        </div>
                        <input required="required" type="text" id="take_plz" name="take_plz" class="form-control" aria-label="Deine PLZ">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Straße:</span>
                        </div>
                        <input type="text" id="take_strasse" name="take_strasse" class="form-control" aria-label="Deine Straße" placeholder="Optional">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Hausnummer:</span>
                        </div>
                        <input type="text" id="take_nummer" name="take_nummer" class="form-control" aria-label="Deine Hausnummer" placeholder="Optional">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 120px;">Nachricht:</span>
                        </div>
                        <textarea required="required" id="take_message" name="take_message" class="form-control" aria-label="Deine Nachricht" rows="5"></textarea>
                    </div>

                    <p class="mb-2"><small>Bitte gebe den Inhalt des Bildes in das Textfeld ein, damit wir wissen, dass du ein Mensch bist!</small></p>
                    
                    <div class="card mb-2">
                        <div class="card-body text-center p-2">
                        {% if modal == 'takehelp-mail' %}
                        {{ captcha|raw }}
                        {% endif %}
                        </div>
                    </div>

                    <div class="custom-control custom-checkbox my-2">
                        <input required="required" type="checkbox" class="custom-control-input" id="take_dsgvo" name="take_dsgvo">
                        <label class="custom-control-label" for="take_dsgvo">Ich stimme der Verarbeitung meiner personenbezogenen Daten zu und habe die Datenschutzerklärung gelesen und akzeptiert.</label>
                    </div>

                    <button class="btn btn-block btn-success" type="Submit">Anfrage absenden!</button>
                </form>
            </div>
            <div class="modal-footer">
                {{ include('modals/parts/modal.part.footer.twig') }}
            </div>
        </div>
    </div>
</div>
{% if modal == 'takehelp-mail' %}
<script type="text/javascript">
    $('#modal_takehelp_mail').modal();
</script>
{% endif %}